:root{
    --main-green: #228B22;
    --main-brown: #663300;
}

.buttons{
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: var(--main-green);
    border: 2px solid var(--main-brown);
}

.board{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tree{
    width: 20%;
    padding-top: 300px;
}

.generation{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: var(--main-brown);
}

.grid-size{
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}

.slider{
    -webkit-appearance: none;
    background: var(--main-green);
    outline: none;
    border-radius: 5px;
    height: 10px;
    margin: auto;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: var(--main-brown);
    cursor: pointer;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
}