:root{
    --main-green: #006600;
    --main-brown: #663300;
}

.buttons{
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: var(--main-green);
    border: 2px solid var(--main-brown);
}

.all-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tree{
    width: 20%;
    padding-bottom: 50px;

    /* animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 5s; */
}

.fade-in{
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}

.generation{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: var(--main-brown);
}

.grid-size{
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}

.slider{
    -webkit-appearance: none;
    background: var(--main-green);
    outline: none;
    border-radius: 5px;
    height: 10px;
    margin: auto;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: var(--main-brown);
    cursor: pointer;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
}

.square{
    position: "relative";
    animation-duration: 2s;
    animation-name: example;
    color: white;
    width: 100%;
}

@keyframes example {
    0%   {opacity: 1}
    50%  {opacity: 0.5}
    100% {opacity: 0}
}

.about-title{
    font-size: 60px;
    color: var(--main-green);
    text-shadow: 1px 1px 5px var(--main-brown);
    text-align: center;
}

.about-description{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-about{
    width: 25%; 
    height: 175px;
    padding: 5px;
    margin: 5px;
    color: var(--main-brown);
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
}

.about-button{
    font-size: 40px;
    font-weight: bold;
}

.about-text{
    font-size: 20px;
}
